:root {
  --color_Primary: rgb(0, 123, 176);
  --color_Secondary: #1AC0A5;
  --color_Tertiary: #FFFFFF; 
  
  --header_font: #fefdff;
  --header_background: #0b132b;
  /* Backgrounds */
  --bg_Body: #F9F9F9; /* A very light shade of white gray */    
  --bg_Section: #fefdff; /* A variation of white gray  */
  /* Buttons */
  
  --ff-body: 'Roboto', sans-serif;
  --ff-heading: "Oswald", sans-serif;

  /* --fs-xl: 5rem; */
  --fs-xl: clamp(3.5rem, 7vw + 1rem, 7rem);
  --fs-600: 1.5rem;
  --fw-600: 600;
  --fs-400: 1rem;
  --fw-400: 400;
  --fw-300: 300;

}


*,
*::before
*::after {
  /* Keeps elements from overflowing containers */
  box-sizing: border-box;
}

body {
  margin: 0; padding: 0;
  width: 100%;
  background-color: var(--bg_Body);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  /* Prevents cursor from changing from arrow unless explicit */
  cursor: default;
  line-height: 1.6;
}

header{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--header_background);
  color: var(--header_font)
}

h1{
  font-size: var(--fs-xl);
  font-weight: var(--fw-400);
  padding: 0;
  margin: 0 auto;
}

nav{}

/* @media (min-width: 20em){
  :root {
    --fs-xl: 4rem;
    --fs-600: 2rem;
    --fs-400: 1.25rem;
  
  }
}

@media (min-width: 40em){
  :root {
    --fs-xl: 5rem;
    --fs-600: 2rem;
    --fs-400: 1.25rem;
  
  }
} */





main {
  margin: auto;
  /* max-width: 90%; */
  text-align: center;
}

.chart {
  display: none;
}


.message{
  position: absolute;
  top: 0;
  /* border: 1px solid red; */
  width: 100%;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}

.success {
  color: red;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

button, input {
  font-size: 100%;
  
}

table {
  padding-top: 1rem;
  width: 100%;
  table-layout: auto;
  border-collapse:collapse;

}

td, th {
  border-bottom: 1px solid rgba(0,0,0,.25);
  border-collapse:collapse;
  text-align: left;
  /* padding-bottom: .125rem; */
  text-align: center;
}

th {
  /* background-color: var(--color_Primary);
  color: var(--color_Secondary); */
  font-weight: 500;
  font-size: 1.25rem;
}

tr:nth-child(even) {
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #fefefe;
}

.transactions {
  text-align: left;
  min-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}


/*                     MEDIA QUERIES                     */

/* @media screen and (min-width: 1920x){
  
}


@media screen and (min-width: 1024px){
  
}

@media screen and (min-width: 800px){
  h1{
    font-size: 5rem;
  }
}

@media screen and (min-width: 500px){
  h1{
    font-size: 4rem;
  } 
} */

/* @media (min-width: 40em){
  :root {
    --fs-xl: 7rem;
    --fs-600: 2rem;
    --fs-400: 1.25rem;
  
  }
} */