:root {
  
  --c1: #0B090A;
  --c2: #161A1D;
  --c3: #660708;
  --c4: #A4161A;
  --c5: #BA181B;
  --c6: #E5383B;
  --c7: #B1A7A6;
  --c8: #D3D3D3;
  --c9: #F5F3F4;
  --c10: #FFFFFF;
  --c11: #f9f9f9;
  --c12: #fefdff;
  
  --header_background: var(--c4);
  --header_font: var(--c10);
  /* Backgrounds */
  --bg_Body: var(--c11); /* A very light shade of white gray */    
  --bg_Section: var(--c12); /* A variation of white gray  */
  /* Buttons */
  
  --ff-body: 'Roboto', sans-serif;
  --ff-heading: "Oswald", sans-serif;

  /* --fs-xl: 5rem; */
  --fs-xl: clamp(5rem, 7vw + 1rem, 12rem);
  --fs-600: 1.5rem;
  --fw-600: 600;
  --fs-400: 1rem;
  --fw-400: 400;
  --fw-300: 300;

  --img-xl: max-width: clamp(1rem, 1vw + 1rem, 3rem);

}

html {
  scroll-behavior: smooth;
}

*,
*::before
*::after {
  /* Keeps elements from overflowing containers */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--bg_Body);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  /* Prevents cursor from changing from arrow unless explicit */
  cursor: default;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Create a sticky/fixed navbar */
#navbar {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  /* flex-direction: wrap; */
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;

  overflow: hidden;
  background-color: #f1f1f1;
  padding: 2rem 0;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  
  background-color: var(--header_background);
  color: var(--header_font);
}

/* Style the logo */
#navbar #logo {
  align-items: center;
  text-align: center;
  flex: 1 2 20%;
  margin: 0 auto;
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  text-shadow: 0 0 .3rem rgba(0,0,0,.25);
}

/* Display some links to the right */
#navbar-right {
  flex: 1 1 20%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  /* flex-direction: wrap; */
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  
  align-items: center;
  text-align: center;
  height: 100%;
}

/* Style the navbar links */
#navbar-right a {
  text-shadow: 0 0 .1rem rgba(0,0,0,.9);
  height: 100%;  
  float: left;
  color: var(--c9);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: ease-in-out 100ms;
  /* border: 1px solid transparent; */
}


#navbar #logo:hover {
  /* border-bottom: 3px solid red; */
  text-shadow: 0 0 .3rem rgba(0,0,0,.9);

}

/* Links on mouse-over */
#navbar-right a:hover {
  color: var(--c12);
  /* border: 1px solid var(--c6); */
  background-color: rgba(229, 56, 59,.4);
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

img.logo {
  -webkit-filter: invert(1); /* Safari/Chrome */
  filter: invert(1);
  max-width: var(--img-xl);
  max-height: 50px;
  vertical-align: center;
  padding-top: .5rem;
}


main {
  margin: 0 auto;
  /* max-width: 90%; */
  padding-top: 150px;
  /* scroll-padding: 50px 0 0 50px; */
  text-align: center;
  
}

.message{
  position: absolute;
  top: 0;
  /* border: 1px solid red; */
  width: 100%;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}

.success {
  color: red;
}

section.anchor{
  scroll-margin-top: 90px;
}


/* #record-transaction, */
/* #balance-timeline, */
/* #about, */
.transactions {
  transition: ease-in-out 400ms;
  width: 90%;
  margin: 0 auto;
  /* min-height: 300px; */
  
}


.form {
  margin-top: 25px;
  width: 100%;
}

button, input {
  font-size: 100%;
  
}

#balance-timeline{
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 .125rem rgba(0,0,0,.5), 0 0 1rem rgba(0,0,0,.25);
}

table {
  margin-top: 1rem;
  width: 100%;
  table-layout: auto;
  border-collapse:collapse;
  overflow: hidden;
  border-radius: .25rem;
  white-space: normal;
  box-shadow: 0 0 .125rem rgba(0,0,0,.5), 0 0 1rem rgba(0,0,0,.25);
  /* box-shadow: 0 0 .25rem rgba(0,0,0,.5); */
}

td, th {
  border-bottom: 1px solid rgba(0,0,0,.25);
  border-collapse:collapse;
  text-align: left;
  padding: .125rem;
  text-align: center;
}

th {
  background-color: var(--c5);
  color: var(--c9);
  font-weight: var(--fw-500);
  font-size: 1.25rem;
}

tr{
  transition: ease-in-out 200ms;
}

tr:hover {
  box-shadow: inset .2rem 0 0 rgba(186, 24, 27,.9);

  /* box-shadow: 0 0 .1rem rgba(0,0,0,1); */
  filter: brightness(102.5%);
  /* zoom: 1.01; */
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: var(--c9);
}
tr:nth-child(odd) {
  background-color: var(--c12);
}




/*                     MEDIA QUERIES                     */



@media (max-width: 1100px){
  .balance-timeline,
  .transactions {
    width: 95%;
  }

  td:last-child,
  th:last-child {
    display: none
  }
}

@media (max-width: 900px){

}

@media (max-width: 750px){

  .balance-timeline,
  .transactions {
    width: 100%;
  }

  main {
    padding-top: 400px;
  }

  section.anchor{
    scroll-margin-top: 200px;
  }
  
  #navbar-right,
  #navbar{
    flex-direction: column;
    padding: 0 ;
  }

  #navbar-right a{
    width: 100%;
  }
}

@media (max-width: 660px){
  :root {
  --fs-xl: clamp(3rem, 7vw + 1rem, 12rem);
  
  }

  img.logo{
    max-width: clamp(3rem, 7vw + 1rem, 12rem)
  }

  
 
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
