@import "animations.css";

:root {

  /*                 TESTING              */
  --c-f: #ae1e23;
  --c0: #D71E28;
  --c0-h: #B01C24;
  --c1: #0B090A;
  --c2: #161A1D;
  --c3: #660708;
  --c4: #A4161A;
  --c5: #BA181B;
  --c6: #E5383B;
  --c7: #B1A7A6;
  --c8: #D3D3D3;
  --c9: #F5F3F4;
  --c10: #FFFFFF;
  --c11: #f9f9f9;
  --c12: #fefdff;
  --c13: #F9F7F6;
  --c14: #FFCD41;
  --c15: #3C3D41;
  --c16: #494B50;
  --c17: #00698C; /* link hovered */
  --c18: #44464A; /* text */
  --c20: rgba(229, 56, 59,.4);
  --c21: rgba(245, 243, 244,.2);
  --c22: rgba(255, 205, 65,.4);
  
  
  
  /*                 BRANDING SCEHMA              */

  --c-b: rgb(21, 139, 220); /* brand color */
  --c-b-fade: rgba(21, 139, 220,.5); /* brand color */
  --c-p: rgb(6, 41, 66); /* base color */
  --c-s: rgb(9, 64, 104);
  --c-t: rgb(0, 105, 140); /* link hovered */
  --c-accent: rgb(255, 205, 65);
  --c-accent-faded: rgba(255, 205, 65,.5);
  --c-warn: rgba(186, 24, 27,1);
  --c-succ: rgba(21, 139, 220,1);

  --c-body: rgb(249, 249, 249);
  --c-section: rgb(254, 253, 255);


  /*                 FONTS              */

  /* families */
  --ff-body: 'Roboto', sans-serif;
  --ff-heading: "Oswald", sans-serif;

  /* font color */
  --c-header-font: var(--c10);

  /* widths and weights */
  /* --fs-xl: 5rem; */
  --fs-xl: clamp(5rem, 7vw + 1rem, 12rem);
  --fs-600: 1.5rem;
  --fw-600: 600;
  --fs-500: 1.25rem;
  --fw-500: 500;
  --fs-400: 1.1rem;
  --fw-400: 400;
  --fw-300: 300;


  /*                 BACKGROUNDS              */
  --bg_Body: var(--c-body); 
  --bg_Section: var(--c-section); 
  --bg-headers: var(--c-p); /* all headers */
  
  --btn-bg-hover:  var(--c-b-fade); /* Elements that need hover effects */

  --border-bottom-p: var(--c-b);

  
  /*          IMAGES           */

  --img-xl: max-width: clamp(1rem, 1vw + 1rem, 3rem);
  
  
  /*      SHADOWS AND GENERAL STYLING       */

  
  /* filters */
  --f-b-1025: brightness(102.5%);
  --f-b-105: brightness(105%);
  --f-b-110: brightness(110%);

  /* box shadows */
  --bs-01: 0 0 .125rem rgba(0,0,0,.9), 0 0 .2rem rgba(0,0,0,.25);
  --bsi-01: inset .2rem 0 0 var(--c-accent);
  
  /* text shadows */
  --ts-B-05: 0 0 .1rem rgba(0,0,0,.5);
  --ts-B-09: 0 0 .1rem rgba(0,0,0,.9);
  --ts-B-1: 0 0 .1rem rgba(0,0,0,1);

  /*      TRANSITIONS      */
  --t-header: 0.4s; /* Adds a transition effect when the padding is decreased */
  --t-nav: 0.2s;
}

html {
  scroll-behavior: smooth;
}

*,
*::before
*::after {
  /* Keeps elements from overflowing containers */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--bg_Body);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  /* Prevents cursor from changing from arrow unless explicit */
  cursor: default;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Create a sticky/fixed navbar */
#navbar {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  /* flex-direction: wrap; */
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;

  overflow: hidden;
  background-color: #f1f1f1;
  padding: 2rem 0;
  
  transition: var(--t-header); /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  
  width: 100%;
  
  top: 0; /* At the top */
  z-index: 99;
  
  background-color: var(--bg-headers);
  color: var(--c-header-font);
  border-bottom: 4px solid var(--c-accent);
}

/* Style the logo */
#navbar #logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  flex: 1 20%;
  margin: 0 auto;
  font-size: 35px;
  font-weight: bold;
  transition: var(--t-nav);
  text-shadow: 0 0 .3rem rgba(0,0,0,.25);
  width: 100%;
  height: 100%;
}


img.logo {
  /* -webkit-filter: invert(1); /* Safari/Chrome */
  /* filter: invert(1); */
  max-width: var(--img-xl);
  max-height: 50px;
  vertical-align: center;
  padding: .5rem;
  transition: var(--t-nav);
  
}

#navbar #logo:hover {
  text-shadow: var(--ts-B-1);
  filter: blur(.0px);
  transform: scale(1.01);

}

/* Display some links to the right */
#navbar-right {
  flex: 2 20%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-items: center;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 2rem;
}


/* Style the navbar links */
#navbar-right a {
  

  /* height: 100%; */
  width: 100%;
  /* padding-top: 20px; */
  
  overflow: none;
  
  text-shadow: var(--ts-B-09);
  color: var(--c9);
  /* padding: 12px; */
  text-decoration: none;
  font-size: 18px;
  /* line-height: 25px; */
  /* border-radius: .25rem; */
  transition: var(--t-nav);
  /* border-bottom: 2px solid var(--btn-bg-hover); */
  border-bottom: 2px solid var(--border-bottom-p);
}

/* Links on mouse-over */
#navbar-right a:hover {
  /* background-color: var(--btn-bg-hover); */
  text-shadow: var(--ts-B-1);
  /* transform: scale(1.025); */
  filter: blur(.0px);
  color: var(--c12);
  border-bottom: 4px solid var(--border-bottom-p);
  /* border-bottom: none; */

}

/* Style the active/current link - when scroll to this section effect */
#navbar-right a.active {
  background-color: var(--);
  color: var(--c12);
}


.message{
  opacity: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background: var(--c-warn); */
  box-shadow: var(--ts-B-09);
  
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 130px;
  min-height: 2rem;
  align-items: center;
  font-size: var(--fs-400);
  /* top: 130px; */
  z-index: 1000;

  transition: 1s;
}

.message div{
  flex: 90%;
}

#message-title{
  float: left;
  padding: 0 2rem;
  margin: 0;
  font-weight: var(--fw-500);
}



#close-message{
  float: right;
  margin: .125rem .5rem;
  cursor:default;
  font-style: bold;
  color: white;
}

#close-message:hover {
  text-shadow: var(--ts-B-1);
  filter: blur(.0px);
  transform: scale(1.01);
}

.error {
  color: red;
}

.success {
  color: red;
}


main {
  margin: 0 auto;
  /* max-width: 90%; */
  padding-top: 100px;
  /* scroll-padding: 50px 0 0 50px; */
  text-align: center;
  
}

section.anchor{
  scroll-margin-top: 100px;
}

#about {
  background-color: var(--bg_Section);
  width: 80%;
  margin: 100px auto;
  border-radius: .5rem;
  box-shadow: var(--ts-B-09);
  padding: 2rem;
}

#github{
  color: var(--c-b);
}
#github:hover{
  text-decoration: underline;
}

.transactions {
  transition: ease-in-out 400ms;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 150px;
  
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--c-accent);
  
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  z-index: 99;
  position: fixed;
  top: 134px;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: var(--t-header);
  /* TODO:: MAKE TRANSAPARENT GLASS EFFECT */
  box-shadow: var(--bs-01);
  box-shadow: inset 0 0 .2rem rgba(0,0,0,1);
}

.total {
  text-align: center;
  flex: 20%;
  padding: 0 1rem;
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  margin: auto; 
}

#balance-timeline{
  width: 90%;
  margin: 100px auto;
}
#balance-timeline canvas{
  box-shadow: var(--bs-01);
  padding: 1rem 0;
  margin: 0;
  width: 100%;
  border-radius: .25rem;
}


table {
  margin-top: 1rem;
  width: 100%;
  table-layout: auto;
  border-collapse:collapse;
  overflow: hidden;
  border-radius: .25rem;
  white-space: normal;
  box-shadow: var(--bs-01)
}

td, th {
  border-bottom: 1px solid rgba(0,0,0,.25);
  border-collapse:collapse;
  text-align: left;
  padding: .125rem;
  text-align: center;
}

th {
  background-color: var(--c-p);
  color: var(--c9);
  font-weight: var(--fw-500);
  font-size: 1.25rem;
}

tr{
  transition: ease-in-out 200ms;
}

tr:hover {
  box-shadow: var(--bsi-01);
  filter: var(--f-b-1025);
  overflow: hidden;
}

/* hide details */

th:nth-last-child(2),
td:nth-last-child(2),
th:nth-last-child(1),
td:nth-last-child(1)
{
    display: none
}

tr:nth-child(even) {
  background-color: var(--c9);
}
tr:nth-child(odd) {
  background-color: var(--c12);
}


/* Create a sticky/fixed navbar */
footer {
  
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;

  /* overflow: hidden; */
  background-color: #f1f1f1;
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  bottom: 0; /* At the top */
  z-index: 99;
  
  background-color: var(--bg-headers);
  color: var(--c-header-font);
  border-bottom: 4px solid var(--c-accent);

  transition: var(--t-header); /* Adds a transition effect when the padding is decreased */
}

footer h2{
  font-size: var(--fs-600);
  font-weight: var(--fw-400);
  text-shadow: var(--ts-B-09);
  margin: auto 1rem;
  padding: 0;
}

.form {
  padding: 1rem;
  align-items: center;
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
  /* padding: .25rem;
  margin: .25rem; */
  width: 100%;
  flex-wrap: wrap;
}

button, input {
  font-size: 100%;
  margin: .1rem .5rem;
  padding: .25rem; 
  border-radius: .5rem;
  text-align: center;
  min-height: 2rem;
  width: 90%;
}
#t-name{
  flex: 90%;
  width: 50%;
}

#t-amount,
button {
  flex: 10%;
}

button {
  border-width:0;
  cursor: pointer;
  
}


/*                     MEDIA QUERIES                     */

@media (max-width: 1100px){
  .balance-timeline,
  .transactions {
    width: 95%;
  }
}

@media (max-width: 900px){
  
  .toolbar{
    flex-direction: column;
  }

  .total {
    font-size: var(--fs-600);
    flex: 50%;
  }
  .form{
    
    width: 100%;
    padding: 0;
    margin: 0;
  }

  form input#t-name {
    flex: 100%;
    width: 100%;
  }
}

@media (max-width: 750px){
  
  #navbar{
    padding: 0 0 2rem 0;
    font-size: var(--fs-xl);
    flex-direction: column;
    
  }

  /* hide for un-click required */
  #navbar-right{
    justify-content: space-around;
    
  }
  #navbar-right a{
    width: 100%;
    font-size: var(--fs-600);
    
  }
}

@media (max-width: 660px){
  :root {
    --fs-xl: clamp(3rem, 7vw + 1rem, 12rem);
  
  }

  img.logo{
    max-width: clamp(3rem, 7vw + 1rem, 12rem)
  }

  
 
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
